# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Proyectos Desarrollo\Spring\Spring-MVC\YOUTUBE-DIGITAL-ACADEMY\microservices-cloud-spring-github\microservices-spring-cloud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
